@use "vars" as *;
@use "mixins" as *;

.aside-cuisines {
  margin-bottom: 0.625rem;
  background-color: $aside-light;
  h3 {
    @extend %aside-header;
  }

  ul {
    padding: 0.5rem 0.5rem;
    margin: 0;
    width: 100%;
    max-width: 28.75rem;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 7.4rem;
      padding: 0.5rem 0;
      list-style: none;
      a {
        color: $content-text-color;
      }
    }
  }
}
