@use "vars" as *;
@use "mixins" as *;


footer {
    background-color: $secondary-color;
    color: $white;
    font-family: $headings-font;
    text-align: center;
    font-weight: 400; //idk if we need this
    padding: 1.25rem;

        a {
            color: $white;
        }
       
        @media (min-width: $tablet-small) {
            padding: 10px 20px;
        }
}
