@use "vars" as *;
@use "mixins" as *;

// header general
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: $aside-light;
  .search-bar,
  .nav-bar,
  .social-links {
    display: none;
  }
  .btn-menu {
    cursor: pointer;
  }
}

// <---------- responsive logo start ---------->
.logo-small {
  display: block;
}

.logo-large {
  display: none;
}

@media (min-width: 25rem) {
  .logo-small {
    display: none;
  }
  .logo-large {
    display: block;
  }
}
// <---------- responsive logo end ---------->

// <---------- function dropdown toggle start ---------->
.dropdown-box {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  // closing-transition
  transition: height 0.3s ease, visibility 0s 0.3s;
}

.dropdown-box.activated {
  // opening-transition
  transition: height 0.3s ease, visibility 0s 0.3s;
}

.show .dropdown-box {
  // opening-transition
  transition: height 0.3s ease, visibility 0s;
  visibility: visible;
  height: 13rem;
}
// <---------- function dropdown toggle end ---------->

// <---------- hover effect start ---------->
.nav-bar li:hover {
  background-color: $white;
  a {
    color: $primary-color;
    transition: 1s;
  }
  transition: 0.3s;
  cursor: pointer;
}

// <---------- hover effect end ---------->

// dropdown-box style
.dropdown-box {
  border-top: 1px solid black;
  border-right: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;

  .search-bar,
  ul li,
  .social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.8rem;
  }

  .search-bar {
    .search-bar-innerbox {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: 0.1px solid grey;
      border-radius: 0.2rem;
      background-color: $search-box-color;
    }
    input {
      border: none;
      background-color: transparent;
      padding: 0.5rem;
      font-size: 0.7rem;
      font-family: $headings-font;
      width: 100%;
    }
    img {
      margin: 0.3rem 0.5rem;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      align-items: center;
      color: $header-text-color-1;
      background-color: $primary-color;
      border: 1px solid $secondary-color;
      font-size: 1rem;
    }
  }

  .social-links {
    background-color: $white;
    padding: 0.2rem;
    a {
      color: $primary-color;
      font-size: 1.3rem;
      padding: 0 0.5rem;
    }
  }
}

// style for temporary
a {
  color: white;
  text-decoration: none;
}
