@use "vars" as *;
@use "mixins" as *;

figure {
    margin: 0 auto;
    position: relative;

    img {
        width: 100%;
        height: 14.5rem;
        object-fit: cover;
    }

    figcaption {
        position: absolute;
        // this bottom val is for text to match the gap between each article
        bottom: 0.25rem;
        left: 0;
        right: 0;
        background-color: #0000007a;
        color: #fff;
        font-family: $headings-font;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 0.7rem 0.6rem;
    }
}

// 670 px
@media (min-width: #{$tablet-large}) {
    .section-imgs {
        display: flex;
        flex-wrap: wrap;

        img {
            height: 100%;
            padding-bottom: .25rem;
        }

        figcaption {
            font-size: 1.35rem;
            font-weight: 400;
            padding: 0.65rem 0.55rem;
        }

        .mussel-pic {
            width: 100%;
        }

        .salad-pic {
            width: 50%;
            padding-right: 0.125rem;

            figcaption {
                margin-right: 0.125rem;
            }
        }

        .pancake-pic {
            width: 50%;
            padding-left: 0.125rem;

            figcaption {
                margin-left: 0.125rem;
            }
        }

    }

}