@use "vars" as *;
@use "mixins" as *;

body {
  color: $primary-color;
  @include body-font;
}

a {
  @include nav-font;
  text-decoration: none;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings-font;
}
