//color
$primary-color: #1a71a9;
$secondary-color: #005991;
$search-box-color: #dedede;
$aside-light: #f9f9f9;
$aside-dark: #e9e9e9;
$text-color: #ffffff;

//fonts

$headings-font: "Roboto Condensed", sans-serif;

// Breakpoints
// MAKE THEM EMS
// mobile-small: ?????
$tablet-small: 31.25em;
$tablet-large: 41.875em;
$social-media: 43.75em;
$desktop: 48.125em;

// Max Width
$max-width: 64.6875rem;
