//color
$primary-color: #1a71a9;
$secondary-color: #005991;
$search-box-color: #dedede;
$aside-light: #f9f9f9;
$aside-dark: #e9e9e9;
$text-color: #ffffff;

// Breakpoints

// mobile-small: ?????
$tablet-small: 31.25rem;
$tablet-large: 41.875rem;
$social-media: 43.75rem;
$desktop: 48.125rem;

// Max Width
$max-width: 64.6875rem;
