//color
$primary-color: #1a71a9;
$secondary-color: #005991;
$search-box-color: #dedede;
$aside-light: #f9f9f9;
$aside-dark: #e9e9e9;
$aside-image-border: #1b70a8;
$white: #ffffff;
$black: #000000;
$nav-text-color: $white;
$header-text-color-1: $white;
$blog-background-color: $white;
$header-text-color-2: $black;
$content-text-color: $black;

//fonts

$headings-font: "Roboto Condensed", sans-serif;

// Breakpoints
// MAKE THEM EMS
$mobile-small: 20em;
$mobile-large: 20.625em;
$tablet-small: 31.25em;
$tablet-large: 41.875em;
$social-media: 43.75em;
$desktop: 48.125em;

// Max Width
$max-width: 64.6875rem;
